@charset "utf-8";

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'styles.scss';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;
//@include foundation-visibility-classes;
//@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


//FIX HIDDEN ANGULAR

$bgBold : #B60000;
$bgClair: #DE3D3D;

[hidden] {
  display: none !important;
}

body {
  width:100vw;
  height:100vh;
  overflow: hidden;
  position: relative;
}
.bigPage {
  width: 300vw;
  height: 300vh;
  position: absolute;
  margin: 0 0 0 -100vw;
  //top:-50vh;
  left: 25vw;
  //@include breakpoint(medium only) {
  //  width: 300vw;
  //  height: 250vh;
  //}



  #triMenu {
    position:absolute;
    bottom: 0;
    right:0;
    width:1750vw;
    height:1750vw;
    pointer-events: none;
    @media screen and (max-height: 1000px) {
      width:1630vw;
      height:1630vw;
    }
    @media screen and (max-height: 900px) {
      width:1530vw;
      height:1530vw;
    }
    @media screen and (max-height: 800px) {
    width:1330vw;
    height:1330vw;
  }
    @media screen and (max-height: 700px) {
      width:1230vw;
      height:1230vw;
    }
    @media screen and (max-height: 600px) {
      width:1030vw;
      height:1030vw;
    }
    @include breakpoint(xsmall) {
      width:1500vw;
      height:1500vw;
      pointer-events: none;
      @media screen and (max-height: 1000px) {
        width:1380vw;
        height:1380vw;
      }
      @media screen and (max-height: 900px) {
        width:1280vw;
        height:1280vw;
      }
      @media screen and (max-height: 800px) {
        width:1080vw;
        height:1080vw;
      }
      @media screen and (max-height: 700px) {
        width:980vw;
        height:980vw;
      }
      @media screen and (max-height: 600px) {
        width:780vw;
        height:780vw;
      }
    }

    @include breakpoint(xxsmall) {
      width:1400vw;
      height:1400vw;
      pointer-events: none;
      @media screen and (max-height: 1000px) {
        width:1280vw;
        height:1280vw;
      }
      @media screen and (max-height: 900px) {
        width:1180vw;
        height:1180vw;
      }
      @media screen and (max-height: 800px) {
        width:980vw;
        height:980vw;
      }
      @media screen and (max-height: 700px) {
        width:880vw;
        height:880vw;
      }
      @media screen and (max-height: 600px) {
        width:680vw;
        height:680vw;
      }
    }



    @include breakpoint(medium) {
      width:1180vw;
      height:1180vw;
      @media screen and (max-height: 1000px) {
        width:980vw;
        height:980vw;
      }
      @media screen and (max-height: 900px) {
        width:930vw;
        height:930vw;
      }
      @media screen and (max-height: 800px) {
        width:880vw;
        height:880vw;
      }
      @media screen and (max-height: 600px) {
        width:780vw;
        height:780vw;
      }
    }

    @include breakpoint(xmedium) {
      width:1000vw;
      height:1000vw;

      @media screen and (max-height: 1000px) {
        width:880vw;
        height:880vw;
      }
      @media screen and (max-height: 900px) {
        width:830vw;
        height:830vw;
      }
      @media screen and (max-height: 800px) {
        width:780vw;
        height:780vw;
      }
      @media screen and (max-height: 600px) {
        width:680vw;
        height:680vw;
      }
    }

    @include breakpoint(xxmedium) {

      width:970vw;
      height:970vw;

      @media screen and (max-height: 1000px) {
        width:880vw;
        height:880vw;
      }
      @media screen and (max-height: 900px) {
        width:830vw;
        height:830vw;
      }
      @media screen and (max-height: 800px) {
        width:780vw;
        height:780vw;
      }
      @media screen and (max-height: 600px) {
        width:680vw;
        height:680vw;
      }
    }
    @include breakpoint(large) {
      width:830vw;
      height:830vw;
      @media screen and (max-height: 1000px) {
        width:770vw;
        height:770vw;
      }
      @media screen and (max-height: 900px) {
        width:720vw;
        height:720vw;
      }
      @media screen and (max-height: 800px) {
        width:670vw;
        height:670vw;
      }
      @media screen and (max-height: 600px) {
        width:570vw;
        height:570vw;
      }
    }
    @include breakpoint(xlarge) {
      width:750vw;
      height:750vw;
      @media screen and (max-height: 1000px) {
        width:750vw;
        height:750vw;
      }
      @media screen and (max-height: 900px) {
        width:700vw;
        height:700vw;
      }
      @media screen and (max-height: 800px) {
        width:660vw;
        height:660vw;
      }
      @media screen and (max-height: 600px) {
        width:550vw;
        height:550vw;
      }
    }

    @include breakpoint(xxlarge) {
      width:650vw;
      height:650vw;
      @media screen and (max-height: 1000px) {
        width:590vw;
        height:590vw;
      }
      @media screen and (max-height: 800px) {
        width:530vw;
        height:530vw;
      }
      @media screen and (max-height: 500px) {
        width:450vw;
        height:450vw;
      }
    }
    .triangleSvg {
      pointer-events: fill;
      cursor: pointer;
    }

  }


}

.vpPage {
  width:100vw;
  height:100vh;
  padding-bottom:50vh;
  position: absolute;
  margin:auto;
  overflow: scroll;
  //top: 25%;
  left: 25%;

  .rotate {
    position: absolute;
    //display: block;
    //width:2vw;
    //height:5vh;
    bottom: 8vh;
    right:3vh;
    transform: rotate(-45deg);
    z-index: 10000;
    font-size:3em;
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
    text-align: center;
    pointer-events: none;

  }
  .navTr {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 70vh;
    width: 70vh;
    z-index: 10000000;
    pointer-events: none;

  }
}

.triangleNav {
  //pointer-events: none;


}
.triFill {
  cursor: pointer;
  pointer-events: fill !important;
  transition: opacity 1s ease;

}






#homePublic.bigPage {
  background-color: $bgClair;
}

#authPage.bigPage {
  background-color: $bgBold;
}


#eventsPrivate.bigPage {
  background-color: $bgBold;
}
#homePrivate.bigPage {
  background-color: $bgClair;
}

#mail.bigPage{
  background-color: $bgClair;
}
.first {
  height:80vh;
  overflow: scroll;
  padding-bottom:20px;
}

.top-bar {
  height: 10vh;
  img {
    height: 100%;
    width:auto;
  }
}

.top-bar-title {
  height: 100%;
}