// Mes variables

$bg-site: #dd2222;
$bg-onglet : #dd4444;
$bg-block-fonce : #dd6666;
$bg-block-clair : #dd8888;
$text-fonce : #ddaaaa;
$text-clair : #ddcccc;

.logo{
  height:80px;
}

.top-bar {
  position: relative;
  .top-bar-right {
    .menu {
      position: absolute;
      bottom: 0;
      left: 100px;
      li {
        a {
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}


.main{
  background-color: $bg-onglet;
  margin: 0 10px;
  .row {
    h1 {
      color: $text-fonce;
      font-weight: bold;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
      display: inline-block;
    }
    .barre{
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid $text-fonce;
      width: 50%; //à adapter
    }
    p{
      color: white;
    }
    .row {
      margin: 10px;
      font-weight: bold;
      .facebook-register {
        background-color: $bg-block-clair;
        text-align: center;
        height: 60px;
        padding-top: 20px;
        text-transform: uppercase;
      }
      input{
        background-color: $bg-block-fonce;
        width: 100%;
        height: 60px;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $text-fonce;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $text-fonce;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $text-fonce;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $text-fonce;
      }
      .envoi{
        height: 180px;
        background-color: $bg-block-clair;
        color: $text-clair;;
        font-size: 80px;
        border: none;
      }
    }
  }
}