<page-transition [pageId]="pageId" [route]="route" [menuName]="menuName" [menuColor]="menuColor">
  <div class="row">
    <div class="main small-12 medium-12 columns">
      <div class="small-12 medium-8 medium-offset-2 columns">
        <div class="small-12 medium-12 columns">
          <h3>Sports diponibles autour de vous :</h3>
        </div>

        <!-- Recherche -->

        <div class="small-12 medium-6 columns"><input type="text" placeholder="Rechercher"></div>

        <!-- Ajout event -->

        <div class="small-12 medium-6 columns">
          <div class="ajout-event">
            <a href="">Ajouter un événement</a>
          </div>
        </div>

        <!-- Events -->


        <div *ngFor="let event of events; let i=index" class="small-12 medium-6 columns">
          <div class="event">
            <span>{{event.sport.nomSport}}<p>| 2km | {{event.dateTime.timestamp *1000| date}} | Par @{{event.usercreateur.username}}{{event.usercreateur.firstname}}</p></span>
            <div class="qt-people">{{event.nbrPersonnesReserve}}</div>
          </div>
          <div *ngIf="canEdit" class="event"></div>
        </div>

      </div>
    </div>
  </div>
</page-transition>