<div class="row">
  <div class="main small-12 medium-12 first columns">
    <div class="small-12 medium-6 medium-offset-3 columns">
      <h1>Paramètres Utilisateur</h1>

      <!-- AMIS -->

      <div class="parametre">
        <a href=""><h3>Amis</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-8 end decale columns">
          <input
                  type="text"
                  placeholder="Rechercher"
                  id="search"
                  [(ngModel)]="querySearch"
                  (keyup)="filter()"
                  (focusout)="filter2()"
                  #friend = "ngModel"
          >
          <div class="suggestions" *ngIf="filteredList.length > 0">
            <ul *ngFor="let item of filteredList" >
              <li >
                <span (click)="select(item)">{{item}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-12 columns" *ngIf="myfriends.length > 0">
          <div *ngFor="let friends of myfriends" class="small-6 medium-4 columns"><div style="padding: 5px;" class="sport">{{friends.idUserFriend.username}} {{friends.idUserFriend.firstname}} <span (click)="deleteFriend(friends.idUserFriend.id)" style=" cursor: pointer; height: 35px; width: 35px; float:right;text-align: center;">x</span></div></div>
          <!-- end sur le dernier aussi -->
          <div class="small-6 medium-4 end columns"><div class="sport"><a href=""><- Mes followers</a></div></div>
        </div>
      </div>

      <!-- PROFIL -->

      <div class="parametre">
        <a href=""><h3>Changer le mot de passe</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-8 end decale columns">
          <form (submit)="changePass()">

            <span [hidden]="!resetComfirm" class="success label"> Mot de passe changé !</span>

            <input
                    type="password"
                    placeholder="Nouveau mot de passe "
                    id="password"
                    [(ngModel)]="password"
                    name="password"
                    #friend = "ngModel"
            >

            <input type="submit" value="GO !">


          </form>

        </div>
      </div>

      <div class="parametre">
        <a href=""><h3>Suprimmer le compte</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-8 end decale columns">
          <form (submit)="deleteAccount()">

            <input type="submit" value="Supprimer mon compte">

          </form>

        </div>
      </div>
    </div>
  </div>
  </div>

