<div class="row">
  <div class="main small-12 medium-12 first columns">
    <div class="small-12 medium-6 medium-offset-3 columns">
      <h1>Paramètres Utilisateur</h1>

      <!-- PORTEE -->

      <div class="parametre">
        <a href=""><h3>Portée de recherche</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-12 columns">
          <div class="small-4 medium-2 columns">
            <h4>20 km</h4> <!-- Portée actuelle -->
          </div>
          <div class="small-8 medium-6 end columns">
            <!-- Pour mofifier la portée -->
            <input type="text" placeholder="Nouvelle portée">
          </div>
        </div>
      </div>

      <!-- AMIS -->

      <div class="parametre">
        <a href=""><h3>Amis</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-8 end decale columns">
          <input
                  type="text"
                  placeholder="Rechercher"
                  id="search"
                  [(ngModel)]="querySearch"
                  (keyup)="filter()"
                  (focusout)="filter2()"
                  #friend = "ngModel"
          >
          <div class="suggestions" *ngIf="filteredList.length > 0">
            <ul *ngFor="let item of filteredList" >
              <li >
                <span (click)="select(item)">{{item}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-12 columns" *ngIf="myfriends.length > 0">
          <div *ngFor="let friends of myfriends" class="small-6 medium-4 columns"><div style="padding: 5px;" class="sport">{{friends.idUserFriend.username}} {{friends.idUserFriend.firstname}} <span (click)="deleteFriend(friends.idUserFriend.id)" style=" cursor: pointer; height: 35px; width: 35px; float:right;text-align: center;">x</span></div></div>
          <!-- end sur le dernier aussi -->
          <div class="small-6 medium-4 end columns"><div class="sport"><a href=""><- Mes followers</a></div></div>
        </div>
      </div>

      <!-- PROFIL -->

      <div class="parametre">
        <a href=""><h3>Profil</h3></a>
        <!-- Si déroulé -->
        <div class="small-12 medium-12 columns profil">
          <img src="img/pp.jpg" alt="photo_profil" class="pp">
          <h3>Pseudo</h3>
          <p>Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum eos error exercitationem, in ipsum, iure laboriosam quasi sapiente similique ullam unde. Atque consectetur cupiditate molestias quasi repellat sapiente vero!</p>
          <div class="small-12 medium-12 columns"><div class="sport"><a href="">Changer de photo de profil</a></div></div>
          <div class="small-12 medium-12 columns"><div class="sport"><a href="">Changer de description ?</a></div></div>
        </div>
      </div>

    </div>
  </div>
</div>